body {
overflow-x: hidden;
}
.navbar-brand {
padding: 0 15px;
height: 96px;
}
#header-main .navbar-default {
  background-color: #ffffff;
  height: 51px;
  margin-bottom: 0;
  border: none;
}
#header-main .scroll-new {
background: transparent linear-gradient(180deg, #fff 65%, transparent 0) repeat scroll 0 0;
}
#header-main .navbar-nav {
  margin: 0 -15px;
}
#header-main .scroll-new .navbar-nav > li a {
color: #000;
}
#header-main .navbar-nav > li a {
padding: 25px;
color: #fff;
font-weight: bold;
font-size: 20px;
}
#header-main .navbar-nav > li a:hover {
color: #00b1db;
text-decoration: none;
}
#header-main .navbar-nav > li a:focus {
outline: none;
}
#header-main .navbar-nav > li:focus {
outline: none;
}
#header-main .navbar-nav .logo a {
padding: 0 70px;
}
/* YTPlayer below header */
#YTPlayer-container {
  top: 51px !important;
}

#replacement_video {
  display: none;
}
#video-sect {
  position: relative;
  height: 100vh;
}
#video-sect .content-overhead {
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
#video-sect .content-overhead h1 {
  font-size: calc(26px + 62 * ((100vw - 320px) / 1280));
  letter-spacing: 4px;
  text-shadow: 3px 3px black;
  font-family: 'Khand', sans-serif;
}
#video-sect .content-overhead p {
  padding: 0 30px;
  font-size: calc(12px + 5 * ((100vw - 320px) / 1280));
  font-family: 'Open Sans', sans-serif;
}
#video-sect .content-overhead .lightbox-video {
  font-size: 85px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
#video-sect .content-overhead .lightbox-video:hover {
  color: #ddd;
}
.arrow-cont {
height: 130px;
text-align: center;
bottom: 0%;
margin: 0;
overflow: hidden;
padding: 6px 50px;
position: absolute;
width: 100%;
cursor: pointer;
z-index: 99;
}
.line {
background: #fff none repeat scroll 0 0;
display: block;
height: 60%;
left: 50%;
margin-left: -1px;
position: absolute;
top: 20%;
width: 1px;
}
.arrow {
border-color: #fff !important;
border-style: solid !important;
display: block;
height: 7px;
left: 50%;
margin-left: -4px;
position: absolute;
transform: rotate(-45deg);
transform-origin: 50% 50% 0;
transition: margin 0.3s ease 0s;
width: 7px;
border-width: 0 0 1px 1px !important;
bottom: 20%;
}
footer {
  width: 100%;
  height: 85px;
  background: #191919;
  padding: 10px 0 10px 0;
  position: fixed;
  bottom: 0;
}
footer span {
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
footer ul {
list-style-type: none;
margin: 0;
padding: 0;
}
footer ul li {
display: inline-block;
margin: 0 0 0 15px;
}
footer ul li a {
color: white;
font-size: 12px;
display: inline-block;
}
footer ul li a:hover {
color: #00b1db;
text-decoration: none;
}
footer ul li a:focus {
color: #00b1db;
text-decoration: none;
}
footer .log-bt {
background-color: #fff !important;
padding: 2px !important;
cursor: pointer;
padding: 0px !important;
}
footer .log-bt a {
color: #000 !important;
text-decoration: none !important;
border-color: #fff;
padding: 5px 5px 4px 5px;
}
footer .log-bt a i {
padding-right: 10px;
}
.md-secure .mo-head {
background-color: #337ab7;
color: #fff;
}
.md-secure .mo-footr {
padding: 10px;
text-align: center;
}
.md-secure .mo-footr img {
width: 200px;
}
.md-secure .mo-crss {
color: #fff;
opacity: 1;
}
.md-secure .btn-cls {
float: right;
font-weight: bold;
outline: none;
}
.md-secure1 .modal-dialog {
height: 100vh;
width: 100%;
margin: 0;
padding: 0;
display: inline-block;
}
.md-secure1 .modal-body {
margin: 0;
padding: 0;
}
.md-secure1 button {
background-color: #fff !important;
width: 50px;
height: 50px;
opacity: 0.5;
font-size: 40px;
position: absolute;
top: 5px;
right: 5px;
}
.md-secure1 button:hover {
opacity: 0.9;
}
.md-secure1 .modal-content {
background-color: transparent;
}
.md-secure1 #myModal1 {
z-index: 9999999999;
}
.modal-open .md-secure1 .modal {
overflow-x: hidden;
overflow-y: hidden !important;
}
@media (min-width: 768px) {
  .navbar-nav {
    position: relative;
    right: -50%;
  }
  .navbar-nav > li {
    position: relative;
    left: -50%;
  }
  .navbar-nav > li a {
    vertical-align: middle;
    padding: 0 24px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  footer p {
    font-size: 11px;
  }
}
@media (max-width: 1200px) {
  #header-main .navbar-nav .logo a {
    padding: 0 35px;
  }
}
@media (min-width: 1025px) {
  #video-sect {
    height:100vh;
  }
  #video-sect  #myVideo{
    height:100vh;
  }
  .video-background .video_parallax{
    position:fixed;
    z-index:-99;
  }
}
@media (max-width: 990px) {
  #header-main .navbar-nav > li a {
    text-align: center;
  }
  #header-main .navbar-nav .logo a {
    padding: 0 25px;
  }
}
@media (min-width: 1250px) {
  footer .container {
    width: 1220px;
  }
}
.viemo_ifrm {
  background-size: cover;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 5;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.video_banner{
  background: url('../images/99.png');
}

.reference{
  	text-align: right;
}

/* info section */
.info-section .sub-details {
  padding: 0 30px 0 30px;
}
.info-section .sub-details {
  height: calc(60vh - 136px);
}
.info-section .sub-character {
  height: 40vh;
}
.info-section .sub-character.right-character {
  padding-left: 0;
}
.info-section .sub-character.left-character {
  padding-right: 0;
}
.info-section .sub-details .sub-detail-text {
  height: 30vh;
}
.info-section h1 {
  /*text-transform: capitalize;*/
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  font-size: calc(26px + 28 * ((100vw - 320px) / 1280));
}
.info-section .sub-details .sub-detail-text h2 {
  font-size: calc(20px + 20 * ((100vw - 320px) / 1280));
}
.info-section .sub-details .sub-detail-text p {
  font-size: calc(14px + 16 * ((100vw - 320px) / 1280));
  text-align: justify;
}
.info-section .sub-details .sub-detail-screenshots {
  height: calc(25vh - 75px);
  padding-bottom: 20px;
}
.info-section .sub-details .sub-detail-screenshots .screenshot {
  display: block;
  position: relative;
  height: 100%;
}
.info-section .sub-details .sub-detail-screenshots .screenshot.lightbox-video {
  opacity: 0.75;
  transition: all .25s ease-in-out;
}
.info-section .sub-details .sub-detail-screenshots .screenshot.lightbox-video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 23px;
}
.info-section .sub-details .sub-detail-screenshots .screenshot.lightbox-video:hover .play-btn {
  font-size: 26px;
}
.info-section .sub-details .sub-detail-screenshots img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.info-section .sub-details .sub-detail-screenshots div {
  height: 100%;
}
.info-section .sub-character {
  position: relative;
}
.info-section .sub-character .testimonial-wrapper {
  margin: 0 auto;
  text-align: center;
}
.info-section .sub-character .testimonial-wrapper .testimonial {
  display: inline-block;
  padding: 0 50px;
}
.info-section .sub-character .testimonial-wrapper .testimonial .quote {
  margin-bottom: 0;
  font-size: calc(20px + 18 * ((100vw - 320px) / 1280));
  font-weight: 700;
  font-style: italic;
}
.info-section .sub-character .testimonial-wrapper .testimonial .client-name {
  margin-bottom: 0;
  padding-right: 20px;
  font-size: calc(12px + 14 * ((100vw - 320px) / 1280));
  text-align: right;
}
.info-section .sub-character .character {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.info-section .sub-character.left-character .character {
  padding-bottom: 15px;
}
#section0 {
  background-image: url(../images/image13.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section5.contact-main {
  background-image: url(../images/cont_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#section5.contact-main .parts-all {
  background-color: transparent;
}

/* fluid box */
.fluidbox__overlay {
  background-color: rgba(255,255,255,.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 400;
  transition: all .25s ease-in-out;
}
.fluidbox-opened .fluidbox-wrap {
  z-index: 600;
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}

/* full page navigation */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #00b1db;
}
#fp-nav ul li .fp-tooltip {
  top: -4px;
  right: 15px;
  color: #00b1db;
}

/* contact form */
.dino-top,
.form-top {
  position: relative;
  height: 100vh;
}
.form-wrapper {
  position: absolute;
  left: 15px;
  top: calc(50% - 51px);
  transform: translateY(-50%);
  width: calc(100% - 100px);
  min-width: 280px;
  padding: 10px;
  background-color: #34d515;
}
.form-wrapper .form-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}
#contact_form textarea {
  resize: none;
}
.dino-top .dino-img {
  position: absolute;
  height: 85vh;
  right: 0;
  transform: translatex(-5%);
}
.form-wrapper .form-group,
.form-wrapper .form-control {
  margin-bottom: 0;
}
.form-wrapper .form-control {
  height: 46px;
}
.form-wrapper .form-group .form-error {
  display: inline-block;
  color: #a94442;
  font-size: 14px;
}
.form-wrapper .form-group .form-error:empty:before {
  content: "\200b";
}
#contact_form input.btn-submit {
  padding: 10px 35px;
  margin-top: 15px;
  background: #333;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 14px;
}
.form-wrapper .checbox-wrapper {
  text-align: center;
  margin-top: 20px;
}
.form-wrapper .submit-wrapper {
  text-align: center;
}

.captcha_wrapper {
  overflow: hidden;
}

.mfp-bg {
  background: #fff;
  opacity: 0.85;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #000;
}
/* start state */
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out; 
  transform: scale(0.8); 
}
.mfp-zoom-in.mfp-bg {
  opacity: 0.85;
  transition: all 0.3s ease-out;
}
/* animate in */
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1); 
}
.mfp-zoom-in.mfp-readymfp-bg {
  opacity: 0.8;
}
/* animate out */
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8); 
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

#part_four {
  height: 100vh;
}

#contact_form input.has-error,
#contact_form textarea.has-error {
  border: 2px solid red;
}
.form-elem {
  width: 100%;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form-elem *,
.form-elem *:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.margin-top-20 {
  margin-top: 20px;
}
.form-elem.check-box {
  display: inline-block;
  width: auto;
}
.form-elem label {
  color: #333;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}
.form-elem.check-box .elem-wrap {
  float: left;
  margin: 1px 10px 2px 0;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.form-elem.check-box .elem-wrap input {
  display: none;
}
.form-elem.check-box .elem-wrap label {
  position: relative;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #00d5c3;
  border: 2px solid #595f6d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.form-elem.check-box .elem-wrap label:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  line-height: 16px;
  font: normal normal normal 12px FontAwesome;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form-elem.check-box .elem-wrap input:focus + label,
.form-elem.check-box .elem-wrap label:hover {
  border-color: #00b1db;
  -webkit-box-shadow: 0 0 15px rgba(0, 213, 195, 0.3);
  -moz-box-shadow: 0 0 15px rgba(0, 213, 195, 0.3);
  -o-box-shadow: 0 0 15px rgba(0, 213, 195, 0.3);
  -ms-box-shadow: 0 0 15px rgba(0, 213, 195, 0.3);
  -khtml-box-shadow: 0 0 15px rgba(0, 213, 195, 0.3);
  box-shadow: 0 0 15px rgba(0, 213, 195, 0.3);
}
.form-elem.check-box .elem-wrap input:checked + label {
  border-color: #ffffff;
}
.form-elem.check-box .elem-wrap input:checked + label:before {
  content: "\f00c";
}
.form-elem.check-box .elem-wrap input:disabled + label {
  border-color: #434957;
  color: #434957;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -khtml-box-shadow: none;
  box-shadow: none;
}
.form-elem.check-box.check-green input + label {
  border-color: #ffffff;
  color: #2f3542;
}
.form-elem.check-box.check-green input:checked + label {
  background-color: #ffffff;
}
.form-elem.check-box.check-green input:disabled + label {
  border-color: #434957;
  color: #2f3542;
  background-color: #434957;
}
.form-elem.check-box.check-black input + label {
  border-color: #1a1c20;
  color: #1a1c20;
}
.form-elem.check-box.check-black input:checked + label {
  border-color: #1a1c20;
  background-color: transparent;
}
.form-elem.check-box.check-black input:disabled + label {
  border-color: #434957;
}

.brick {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222;
  z-index: 1;
}
.grid-container {
  height: calc(100% - 51px) !important;
  margin-top: 51px;
}
.grid-sizer {
  width: 20%;
}
.brick img {
  max-width: 100%;
  max-height: 100%;
}
.grid-item {
  display: inline-block;
  position: relative;
}
.grid-item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background-color: rgba(0,0,0,0.2);
  transition: all 0.8s ease 0s;
}
.grid-item:hover:after {
  background-color: rgba(0,0,0,0);
}
.grid-item:hover .brick-title {
  opacity: 1;
}
.grid-item .brick-title {
  display: inline-block;
  position: absolute;
  left: 5px;
  bottom: 10%;
  font-size: calc(12px + 10 * ((100vw - 320px) / 1280));
  color: black;
  background-color: white;
  padding: 7px 10px;
  opacity: 0;
  transition: all 0.8s ease 0s;
}

/* meida queries */
@media screen and (max-width: 479px) and (max-height: 814px) {
  .info-section .sub-character .character img {
    display: none;
  }
  .form-wrapper {
    width: calc(100% - 50px);
  }
  .form-wrapper .form-title {
    font-size: 20px;
  }
  .form-wrapper .form-control {
    height: 32px;
  }
}
@media screen and (max-width: 479px) and (max-height: 648px) {
  .info-section .sub-character {
    display: none;
  }
}
@media screen and (max-width: 479px) and (max-height: 480px) {
  .form-wrapper {
    padding: 5px;
  }
  .form-wrapper .checbox-wrapper {
    margin-top: 5px;
  }
  .form-wrapper .form-title {
    margin-bottom: 5px;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .form-wrapper .form-group {
    line-height: 1;
  }
  .form-wrapper .form-control {
    height: 20px;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1;
  }
  .form-wrapper .form-group .form-error {
    font-size: 10px;
    line-height: 1;
  }
  #contact_form input.btn-submit {
    margin-top: 0;
    padding: 5px 30px;
    font-size: 10px;
  }
}
@media screen and (max-width: 767px) {
  .hidden_on_mobile {
    display: none !important;
  }
  #fp-nav.fp-right {
    right: 0;
  }
  .info-section h1 {
    margin: 15px 0 0 0;
  }  
  .info-section .sub-details {
    padding: 0 45px 0 30px;
  }
  .info-section .sub-details .sub-detail-screenshots {
    padding: 0 15px 15px 15px;
  }
  .info-section .sub-character .testimonial-wrapper .testimonial {
    padding-right: 65px;
  }
  .form-wrapper {
    position: absolute;
    width: calc(100% - 45px);
  }
}
@media screen and (max-width: 992px) {
  .col-xs-4.sc-wrapper,
  .col-xs-3.sc-wrapper {
    padding: 0 5px;
  }
}
@media screen and (min-width: 600px) {
  .info-section .sub-details {
    padding-top: 0;
  }
  .info-section .sub-details {
    height: 60vh;
  }
  .info-section .sub-character {
    height: 30vh;
  }
  .form-elem label {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  #header-main .navbar-default {
    height: 66px;
  }
  #header-main .navbar-nav > li a {
    color: #000;
  }
  #section0 {
    background-image: none;
  }
  #YTPlayer-container {
    top: 66px !important;
  }
  #video-sect .content-overhead h1 {
    letter-spacing: 7px;
    text-shadow: 4px 4px black;
  }
  #video-sect .content-overhead .lightbox-video {
    display: none;
  }
  .info-section h1 {
    padding: 15px 45px;
  }
  .info-section .sub-details,
  .info-section .sub-character {
    height: 100vh;
  }  
  .info-section .sub-details.right-side {
    padding-right: 15px;
    padding-left: 60px;
  }
  .info-section .sub-details.left-side {
    padding-left: 15px;
    padding-right: 60px;
  }
  .info-section .sub-details .sub-detail-text {
    height: 64vh;
  }
  .info-section .sub-details .sub-detail-screenshots {
    height: calc(36vh - 100px);
  }
  /* .info-section .sub-character img {
    position: absolute;
    width: auto;
    height: 90%;
    left: 0;
    transform: none;
  }
  .info-section .sub-character.left-character img {
    left: 95%;
    transform: translate(-100%);
  } */
  .info-section .sub-character.left-character .character {
    padding-bottom: 30px;
  }
  .info-section .sub-details .sub-detail-screenshots.four-screenshots {
    position: relative;
  }
  .info-section .sub-details .sub-detail-screenshots.four-screenshots .row {
    position: absolute;
    width: 100%;
    bottom: 13vh;
  }
  .info-section .sub-details .sub-detail-screenshots.four-screenshots div:not(.fluidbox__overlay) {
    max-height: 10vh;
  }
  .info-section .sub-details .sub-detail-screenshots.four-screenshots .col-xs-3 {
    margin-bottom: 15px;
  }
  .info-section .sub-details .sub-detail-screenshots .screenshot.lightbox-video .play-btn {
    font-size: 33px;
  }
  .info-section .sub-details .sub-detail-screenshots .screenshot.lightbox-video:hover .play-btn {
    font-size: 38px;
  }
  .grid-container {
    height: calc(100% - 66px) !important;
    margin-top: 66px;
  }
  .form-wrapper {
    position: absolute;
    width: calc(100% - 80px);
    left: 0;
    top: calc(50% - 66px);
    transform: translateY(-50%);
  }
  .form-wrapper .form-title {
    font-size: 32px;
  }
  .form-wrapper .form-control:not(.form-text-area) {
    height: 32px;
    padding: 10px 12px;
  }
  footer {
    height: 65px;
  }
  footer span {
    font-size: 17px;
  }
  footer ul li a {
    font-size: 17px;
  }
}
@media (min-width: 992px) {  
  #video-sect .content-overhead h1 {
    text-shadow: 5px 5px black;
  }
  .info-section .sub-details {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  #video-sect .content-overhead h1 {
    text-shadow: 7px 7px black;
  }
  .info-section h1 {
    margin-bottom: 20px;
  }
  .info-section .sub-details .sub-detail-text h2 {
    margin-bottom: 25px;
  }
  .info-section .sub-details .sub-detail-screenshots.four-screenshots .row {
    position: initial;
  }
  .info-section .sub-details .sub-detail-screenshots.four-screenshots div:not(.fluidbox__overlay) {
    max-height: none;
  }
  .info-section .sub-details .sub-detail-screenshots.four-screenshots .col-xs-3 {
    margin-bottom: 0;
  }  
  .info-section .sub-details .sub-detail-text {
    height: 68vh;
  }
  .info-section .sub-details .sub-detail-screenshots {
    height: calc(32vh - 100px);
  }
  .info-section .sub-details .sub-detail-screenshots .screenshot.lightbox-video .play-btn {
    font-size: 43px;
  }
  .info-section .sub-details .sub-detail-screenshots .screenshot.lightbox-video:hover .play-btn {
    font-size: 48px;
  }
}